extends templates/base.pug
//- pull in the base template and the html for this page

block variables
    - var pageTitle =  "General Content Page"

block content 
    include ./general-content-page.html
    //- the HTML content for this page comes from /src/markup/inner.html. The rest come from the base template