extends templates/base.pug
//- pull in the base template and the html for this page

block variables
    - var pageTitle =  "Contact Us"
    - var theme = "literacy"

block content 
    include ./try-it.html
    //- the HTML conontent for this page comes from /src/markup/inner.html. The rest come from the base template