extends templates/base.pug
//- pull in the base template and the html for this page

block variables
    - var pageTitle =  "LETRS - Training & Support"
    - var theme = "literacy"

block content 
    include ./training-support.html
    //- the HTML content for this page comes from /src/markup/inner.html. The rest come from the base template