<footer class="site-footer">
    <div class="site-footer__social hidden-xs">
        <div class="container">
            <div class="col-sm-5 pull-right">
                <span class="title">Contact Us</span>
                <ul class="social-nav">
                    <li><a href="#" class="social-link facebook"><span></span></a></li>
                    <li><a href="#" class="social-link twitter"><span></span></a></li>
                    <li><a href="#" class="social-link linkedin"><span></span> </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="site-footer__sitemap hidden-xs">
        <div class="container">

            <div class="col-sm-12 site-footer__sitemap__heading">
                <p class="h3">SITE MAP LISTING</p>
            </div>

            <div class="col-md-2 col-sm-4">
                <p class="h4">Literacy</p>
                <ul>
                    <li><a>Test test test</a></li>
                    <li><a>Test test test</a></li>
                    <li><a>Test test test</a></li>
                    <li><a>Test test test</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-4">
                <p class="h4">Literacy</p>
                <ul>
                    <li><a>Test test test</a></li>
                    <li><a>Test test test</a></li>
                    <li><a>Test test test</a></li>
                    <li><a>Test test test</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-4">
                <p class="h4">Literacy</p>
                <ul>
                    <li><a>Test test test</a></li>
                    <li><a>Test test test</a></li>
                    <li><a>Test test test</a></li>
                    <li><a>Test test test</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-4">
                <p class="h4">Literacy</p>
                <ul>
                    <li><a>Test test test</a></li>
                    <li><a>Test test test</a></li>
                    <li><a>Test test test</a></li>
                    <li><a>Test test test</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-4">
                <p class="h4">Literacy</p>
                <ul>
                    <li><a>Test test test</a></li>
                    <li><a>Test test test</a></li>
                    <li><a>Test test test</a></li>
                    <li><a>Test test test</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="site-footer__subfooter">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="site-footer__subfooter__copyright">
                        <p>&copy; 2017 VoyagerSopris Learning</p>
                    </div>
                    <div class="site-footer__subfooter__nav">
                        <ul class="list-inline">
                            <li><a href="#">Privacy</a></li>
                        </ul>
                        <ul class="list-inline hidden-xs">
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Admin Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>