<header>
    <div class="header-top-nav-wrapper container hidden-xs">
        <div class="header-top-nav">
            <ul class="list-inline">
                <li><a href="#">Store</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <div class="ham-stack ham-to-x">
                        <span class="ham"></span>
                        <span class="ham"></span>
                        <span class="ham"></span>
                    </div>
                </a>
                <a class="navbar-brand" href="/">
                    <div class="sf_colsIn" data-sf-element="Site Logo" data-placeholder-label="Site Logo">
                        <img src="images/vsl_logo.png" alt="Voyager Sopris Learning Logo" title="Voyager Sopris Learning Logo" />
                    </div>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
                <div>
                    <ul class="nav navbar-nav mobile-nav visible-xs">
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="caret"></span>Products</a>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="mobile-nav-back">Back</a></li>
                                <li class="dropdown">
                                    Literacy
                                    <ul>
                                        <li class="">
                                            <a href="#">Fundamentals of Literacy Intruction</a>
                                        </li>
                                        <li class="">
                                            <a href="#">Letrs</a>
                                        </li>
                                        <li class="">
                                            <a href="#">Literacy Symposium</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    Math
                                    <ul>
                                        <li><a href="#">Numbers</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="caret"></span>Professional Development</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" target="_self"><span class="caret"></span>Training & Support</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" target="_self"><span class="caret"></span>Resources</a>
                        </li>
                        <li class="">
                            <a href="#" target="_self">About Us</a>
                        </li>
                        <li class="">
                            <a href="#" target="_self">Login</a>
                        </li>
                        <li class="">
                            <a href="#" target="_self">Search</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav desktop-nav hidden-xs">
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                PRODUCT
                                <span class="arrow"></span>
                            </a>
                            <div class="dropdown-menu">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="h2">PRODUCT</div>
                                        </div>
                                        <div class="col-sm-12 col-md-4">
                                            <p>
                                                Voyager Sopris Learning is the proven leader in providing research-based professional development for teachers and education leaders.
                                                <br />
                                                <a href="#">Search All</a>
                                            </p>
                                        </div>
                                        <div class="col-sm-2 col-md-2">
                                            <img src="images/literacy-icon.png" />
                                        </div>
                                        <div class="col-sm-4 col-md-2">
                                            <ul>
                                                <li><a href="#">Fundamentals of Literacy Instruction</a></li>
                                                <li><a href="#">Letrs</a></li>
                                                <li><a href="#">Literacy Symposium</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-2 col-md-2">
                                            <img src="images/math-icon.png" />
                                        </div>
                                        <div class="col-sm-4 col-md-2">
                                            <ul>
                                                <li><a href="#">Numbers</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                PROFESSIONAL DEVELOPMENT
                                <span class="arrow"></span>
                            </a>
                            <div class="dropdown-menu">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="h2">PROFESSIONAL DEVELOPOMENT</div>
                                        </div>
                                        <div class="col-sm-12 col-md-4">
                                            <p>
                                                Voyager Sopris Learning is the proven leader in providing research-based professional development for teachers and education leaders.
                                                <br />
                                                <a href="#">Search All</a>
                                            </p>
                                        </div>
                                        <div class="col-sm-2 col-md-2">
                                            <img src="images/literacy-icon.png" />
                                        </div>
                                        <div class="col-sm-4 col-md-2">
                                            <ul>
                                                <li><a href="#">Fundamentals of Literacy Instruction</a></li>
                                                <li><a href="#">Letrs</a></li>
                                                <li><a href="#">Literacy Symposium</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-2 col-md-2">
                                            <img src="images/math-icon.png" />
                                        </div>
                                        <div class="col-sm-4 col-md-2">
                                            <ul>
                                                <li><a href="#">Numbers</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                Training & Support
                                <span class="arrow"></span>
                            </a>
                            <div class="dropdown-menu">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="h2">Training & Support</div>
                                        </div>
                                        <div class="col-sm-12 col-md-4">
                                            <p>
                                                Voyager Sopris Learning is the proven leader in providing research-based professional development for teachers and education leaders.
                                                <br />
                                                <a href="#">Search All</a>
                                            </p>
                                        </div>
                                        <div class="col-sm-2 col-md-2">
                                            <img src="images/literacy-icon.png" />
                                        </div>
                                        <div class="col-sm-4 col-md-2">
                                            <ul>
                                                <li><a href="#">Fundamentals of Literacy Instruction</a></li>
                                                <li><a href="#">Letrs</a></li>
                                                <li><a href="#">Literacy Symposium</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-2 col-md-2">
                                            <img src="images/math-icon.png" />
                                        </div>
                                        <div class="col-sm-4 col-md-2">
                                            <ul>
                                                <li><a href="#">Numbers</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                Resources
                                <span class="arrow"></span>
                            </a>
                            <div class="dropdown-menu">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="h2">Resources</div>
                                        </div>
                                        <div class="col-sm-12 col-md-4">
                                            <p>
                                                Voyager Sopris Learning is the proven leader in providing research-based professional development for teachers and education leaders.
                                                <br />
                                                <a href="#">Search All</a>
                                            </p>
                                        </div>
                                        <div class="col-sm-2 col-md-2">
                                            <img src="images/literacy-icon.png" />
                                        </div>
                                        <div class="col-sm-4 col-md-2">
                                            <ul>
                                                <li><a href="#">Fundamentals of Literacy Instruction</a></li>
                                                <li><a href="#">Letrs</a></li>
                                                <li><a href="#">Literacy Symposium</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-2 col-md-2">
                                            <img src="images/math-icon.png" />
                                        </div>
                                        <div class="col-sm-4 col-md-2">
                                            <ul>
                                                <li><a href="#">Numbers</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Search</a></li>
                    </ul>
                    <div class="nav-close visible-xs">
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
