
@import "variables";

:root {
    font-size: $root_font-size;
}

.root {
    font-size: $root_font-size;
}

body, .body-text {
    color: $body_color;
    font-family: $body_font-family;
    font-size: $body_font-size;
    font-weight: $body_font-weight;
    transition: $body_transition;
}

.container {
    margin: $container_margin;
    max-width: $container_max-width;
    padding-left: $container_padding-left;
    padding-right: $container_padding-right;
    width: $container_width;
}

.accent-font {
    font-family: $accent_font-family;
    font-style: $accent_font-style;
    font-weight: $accent_font-weight;
    font-size: $accent_font-size;
    text-transform: $accent_text-transform;
}

img {
    max-width: $img_max-width;
}

ul {
    list-style: $ul_list-style;
    /*padding: $ul_padding; <- This was causing nested uls to lose padding*/
}

li {
    line-height: $li_line-height;

    a, a:link, a:active, a:visited {
        color: #005587;
    }
}

p, .p, article, .article {
    font-size: $p_font-size;
    line-height: $p_line-height;
    margin-bottom:$p_margin-bottom;
    transition: $global_transition;
    /*padding: $p_padding;*/
    a, a:link, a:active, a:visited {
        color: #005587;
    }
}



blockquote {
    font-size: $p_font-size;
    transition: $global_transition;
}

blockquote small {
    font-size: .75rem;
}

small {
    font-size: .75rem;
    transition: $global_transition;
}

.em {
    font-style: $em_font-style;
}


a {
    color: $a_color;
    text-decoration: $a_text-decoration;
    transition: $global_transition;
}

a.hover, a.focus,
a:hover, a:focus {
    color: $a-hover_color;
    text-decoration: $a-hover_text-decoration;
}

a:focus, a.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

h1, .h1 {
    font-family: $h1_font-family;
    font-weight: $h1_font-weight;
    line-height: $h1_line-height;
    color: $h1_color;
    margin-top: $h1_margin-top;
    margin-bottom: $h1_margin-bottom;
    font-size: $h1_font-size;
    font-style: $h1_font-style;
    transition: $global_transition;
}

h1 small, h1 .small, .h1 small, .h1 .small {
    font-size: $h1-small_font-size;
    font-weight: $h1-small_font-weight;
    line-height: $h1-small_line-height;
    color: $h1-small_color;
}

h2, .h2 {
    font-family: $h2_font-family;
    font-weight: $h2_font-weight;
    line-height: $h2_line-height;
    color: $h2_color;
    margin-top: $h2_margin-top;
    margin-bottom: $h2_margin-bottom;
    font-size: $h2_font-size;
    font-style: $h2_font-style;
    transition: $global_transition;
}

h2 small, h2 .small, .h2 small, .h2 .small {
    font-size: $h2-small_font-size;
    font-weight: $h2-small_font-weight;
    line-height: $h2-small_line-height;
    color: $h2-small_color;
}

h3, .h3 {
    font-family: $h3_font-family;
    font-weight: $h3_font-weight;
    line-height: $h3_line-height;
    color: $h3_color;
    margin-top: $h3_margin-top;
    margin-bottom: $h3_margin-bottom;
    font-size: $h3_font-size;
    font-style: $h3_font-style;
    transition: $global_transition;
    text-transform: $h3_text-transform;
}

h3 small, h3 .small, .h3 small, .h3 .small {
    font-size: $h3-small_font-size;
    font-weight: $h3-small_font-weight;
    line-height: $h3-small_line-height;
    color: $h3-small_color;
}

h4, .h4 {
    font-family: $h4_font-family;
    font-weight: $h4_font-weight;
    line-height: $h4_line-height;
    color: $h4_color;
    margin-top: $h4_margin-top;
    margin-bottom: $h4_margin-bottom;
    font-size: $h4_font-size;
    font-style: $h4_font-style;
    transition: $global_transition;
}

h4 small, h4 .small, .h4 small, .h4 .small {
    font-size: $h4-small_font-size;
    font-weight: $h4-small_font-weight;
    line-height: $h4-small_line-height;
    color: $h4-small_color;
}

h5, .h5 {
    font-family: $h5_font-family;
    font-weight: $h5_font-weight;
    line-height: $h5_line-height;
    color: $h5_color;
    margin-top: $h5_margin-top;
    margin-bottom: $h5_margin-bottom;
    font-size: $h5_font-size;
    font-style: $h5_font-style;
    transition: $global_transition;
}

h5 small, h5 .small, .h5 small, .h5 .small {
    font-size: $h5-small_font-size;
    font-weight: $h5-small_font-weight;
    line-height: $h5-small_line-height;
    color: $h5-small_color;
}

h6, .h6 {
    font-family: $h6_font-family;
    font-weight: $h6_font-weight;
    line-height: $h6_line-height;
    color: $h6_color;
    margin-top: $h6_margin-top;
    margin-bottom: $h6_margin-bottom;
    font-size: $h6_font-size;
    font-style: $h6_font-style;
    transition: $global_transition;
}

h6 small, h6 .small, .h6 small, .h6 .small {
    font-size: $h6-small_font-size;
    font-weight: $h6-small_font-weight;
    line-height: $h6-small_line-height;
    color: $h6-small_color;
}


.primary-color {
    color: $primary-color;
}

.primary-color_background {
    background-color: $primary-color;
}

.primary-color-light {
    color: $primary-color-light;
}

.primary-color-light_background {
    background-color: $primary-color-light;
}

.primary-color-dark {
    color: $primary-color-dark;
}

.primary-color-dark_background {
    background-color: $primary-color-dark;
}

.secondary-color {
    color: $secondary-color;
}

.secondary-color_background {
    background-color: $secondary-color;
}

.secondary-color-light {
    color: $secondary-color-light;
}

.secondary-color-light_background {
    background-color: $secondary-color-light;
}

.secondary-color-dark {
    color: $secondary-color-dark;
}

.secondary-color-dark_background {
    background-color: $secondary-color-dark;
}

.accent-color {
    color: $accent-color;
}

.accent-color_background {
    background-color: $accent-color;
}

.accent-color-light {
    color: $accent-color;
}

.accent-color-light_background {
    background-color: $accent-color;
}

.accent-color-dark {
    color: $accent-color-dark;
}

.accent-color-dark_background {
    background-color: $accent-color-dark;
}


/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}
