
.check-list {
    ul {
        list-style: none;
        padding-left: 25px;

        li {
            position: relative;
            padding-bottom: 25px;
        }

        li:before {
            content: "";
            position: absolute;
            display: inline-block;
            width: 14px;
            height: 12px;
            left: -20px;
            top: 5px;
            background-image: url('../../images/icons/tick-mark-green.png');
            background-repeat: no-repeat;
        }
    }
}
