// pre defined fixed heights. required to make the button align to the bottom

.fixed-height-desktop-250 {
    height: 250px;
}

.fixed-height-desktop-300 {
    height: 300px;
}

.fixed-height-desktop-350 {
    height: 350px;
}

.fixed-height-desktop-400 {
    height: 400px;
}

.fixed-height-desktop-450 {
    height: 450px;
}

.fixed-height-desktop-500 {
    height: 500px;
}

// add a border to the container

.left-right-white-border {
    border-left: 10px solid #ffffff;
    border-right: 10px solid #ffffff;
}

// apply this class to any button that needs to align to the bottom of the container

.button-bottom {
    box-sizing: border-box;
    width: 90%;
    position: absolute;
    bottom: 20px;
    left: 15px;
}

// undo the container fixed height on mobile

@media screen and (max-width: 1000px) {

    .fixed-height-desktop-250,
    .fixed-height-desktop-300,
    .fixed-height-desktop-350,
    .fixed-height-desktop-400,
    .fixed-height-desktop-450,
    .fixed-height-desktop-500 {
        height: auto;
        border: none;
    }

    .button-bottom {
        position: relative;
        bottom: auto;
        width: 100%;
        left: auto;
    }

}