.no-col-padding {
    padding: 0;
}

.padding-40 {
    padding: 40px;
}

.padding-20 {
    padding: 20px;
}

// margin top

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40px;
}

// margin bottom

.mb-10 {
    margin-top: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

// fixed heights. required to make the button align to parent container bottom

.fixed-height-desktop-250 {
    height: 250px;
}

.fixed-height-desktop-300 {
    height: 300px;
}

.fixed-height-desktop-310 {
    height: 310px;
}

.fixed-height-desktop-320 {
    height: 320px;
}

.fixed-height-desktop-330 {
    height: 330px;
}

.fixed-height-desktop-340 {
    height: 340px;
}

.fixed-height-desktop-350 {
    height: 350px;
}

.fixed-height-desktop-360 {
    height: 360px;
}

.fixed-height-desktop-370 {
    height: 370px;
}

.fixed-height-desktop-380 {
    height: 380px;
}

.fixed-height-desktop-390 {
    height: 390px;
}

.fixed-height-desktop-400 {
    height: 400px;
}

.fixed-height-desktop-410 {
    height: 410px;
}

.fixed-height-desktop-420 {
    height: 420px;
}

.fixed-height-desktop-430 {
    height: 430px;
}

.fixed-height-desktop-440 {
    height: 440px;
}

.fixed-height-desktop-450 {
    height: 450px;
}

.fixed-height-desktop-460 {
    height: 460px;
}

.fixed-height-desktop-470 {
    height: 470px;
}

.fixed-height-desktop-480 {
    height: 480px;
}

.fixed-height-desktop-490 {
    height: 490px;
}

.fixed-height-desktop-500 {
    height: 500px;
}

// add a border to the container

.left-right-white-border {
    border-left: 10px solid #ffffff;
    border-right: 10px solid #ffffff;
}

// apply this class to any button that needs to align to the bottom of the container

.button-bottom {
    box-sizing: border-box;
    width: 90%;
    position: absolute;
    bottom: 20px;
    left: 15px;
}

// undo the container fixed height on mobile

@media screen and (max-width: 1000px) {

    .fixed-height-desktop-250,
    .fixed-height-desktop-300,
    .fixed-height-desktop-310,
    .fixed-height-desktop-320,
    .fixed-height-desktop-330,
    .fixed-height-desktop-340,
    .fixed-height-desktop-350,
    .fixed-height-desktop-360,
    .fixed-height-desktop-370,
    .fixed-height-desktop-380,
    .fixed-height-desktop-390,
    .fixed-height-desktop-400,
    .fixed-height-desktop-410,
    .fixed-height-desktop-420,
    .fixed-height-desktop-430,
    .fixed-height-desktop-440,
    .fixed-height-desktop-450,
    .fixed-height-desktop-460,
    .fixed-height-desktop-470,
    .fixed-height-desktop-480,
    .fixed-height-desktop-490,
    .fixed-height-desktop-500 {
        height: auto;
    }

    .button-bottom {
        position: relative;
        bottom: auto;
        width: 100%;
        left: auto;
    }

}

